<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>

<script src="/js/createPost.js"></script>
<script src="/js/addPost.js"></script>